/*!!!!!!!!!!!!!!!!!!!*/
/*!*general styling*!*/
/*!!!!!!!!!!!!!!!!!!!*/
html {
    font-family: "open sans" sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*aligning all the content to the center of the page*/
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

/*-----------------------*/
/*general button styling*/
/*----------------------*/

.gen-button {
    background: #3096CA;
    color: #FFF;
    border: none;
    border-radius: 6%;
    position: relative;
}

/* button "play" icon - can be absolutely positioned based on the button*/
.gen-button:after {
    content: "";
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    background: url('../resources/img/icons/search_line_devider.png') no-repeat;
    height: 13px;
    width: 10px;
}

/*!!!!!!!!!!!!!!!!!*/
/*!*header styling*!*/
/*!!!!!!!!!!!!!!!!!*/

header {
    padding-top: 1.5em;
}

/*padding-bottom is given to componenets and not to header*/
/*in order not to create a gap between nav and dropdown menu*/
.comverse-logo,
nav > ul > li,
.user-preferences {
    padding-bottom: 1.2em;
}

.comverse-logo {
    display: inline-block;
    vertical-align: bottom;
}

nav {
    display: inline-block;
    font-size: 1.25rem;
    vertical-align: bottom;
    margin: 0 5em 0 2em;
}

.user-preferences {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.30rem;
    float: right;
}

nav > ul > li {
    display: inline-block;
    vertical-align: bottom;
}

nav > ul > li:nth-child(-n+3):after,
.searchbox button:before,
.login:before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background: url('../resources/img/icons/search_line_devider.png') no-repeat;
    height: 20px;
    width: 1px;
    margin: 0 0.6em;
}

/*-------------------------*/
/*search and login styling*/
/*------------------------*/

/*search box styling*/

header form {
    position: relative;
    border: 1px solid #DADADA;
    margin-top: 1.5em;
    height: 1.75em;
    border-radius: 10%;
    overflow: hidden;
    -webkit-appearance: none;
    box-shadow: none;
    width: 12em;
}

.searchbox button,
.searchbox input,
.searchbox button:before {
    border: none;
    display: inline-block;
    vertical-align: center;
}

.searchbox input {
    width: 83%;
}

.searchbox button {
    background: white;
    float: right;
    padding: 0 3px 0 0;
}

.searchbox button:before {
    margin: 0 0.2em;
}

.searchbox input:focus,
.searchbox button:focus {
    outline: 0;
}

/*select language styling*/

.user-preferences select {
    /*-moz-appearance: none; !* Firefox *!*/
    /*-webkit-appearance: none; !* Safari and Chrome *!*/
    border: none;
    outline: none;
    background: none;
}

/*-------------------*/
/*mega-menu styling*/
/*-------------------*/

/*absolutely postioning dorpdown menu relative to header wrapper*/

header .wrapper {
    position: relative;
    z-index: 100;
}

.mega-menu {
    display: none;
    position: absolute;
    background: #fff;
    right: 0;
    left: 0;
    top: 100%;
}

/*positioning and styling inside sub-menus*/

.mega-menu > ul {
    display: inline-block;
    vertical-align: top;
    padding: 2em 4em 2em 2em;
    font-size: 1.27rem;
    line-height: 1.5em;
}

nav figure {
    width: 330px;
    height: 215px;
    display: inline-block;
    background-size: cover;
    float: right;
    position: relative;
}

/*highlighting first link in each UL on protfolio sub-menu */

.protfolio ul > li > ul > li:first-child {
    text-decoration: underline;
    color: blue;
}

/*line divider :before menu figures*/

nav figure:before {
    content: "";
    position: absolute;
    right: 380px;
    display: inline-block;
    vertical-align: bottom;
    background: url('../resources/img/icons/line_divider_video.png') no-repeat;
    height: 185px;
    width: 1px;
}

/*setting the figures for each drop-down menu*/

.needs figure {
    background: url("../resources/img/mega-menu/Megamenu_Your_Needs_eBook.jpg") no-repeat;
}

.protfolio figure {
    background: url("../resources/img/mega-menu/megamenu_digital_lifestyle.jpg") no-repeat;
}

.news-media figure {
    background: url("../resources/img/mega-menu/Megamenu_News_and_media.jpg") no-repeat;
}

.about figure {
    background: url("../resources/img/mega-menu/Megamenu_About_Comverse_by_the_numbers.jpg") no-repeat;
}

/*mega-menu drop-down on hover*/

nav > ul > li:hover > a {
    color: #39c;
}

nav > ul > li:first-child:hover .needs {
    display: block;
    margin: 0 auto;
}

nav > ul > li:nth-child(2):hover .protfolio {
    display: block;
}

nav > ul > li:nth-child(3):hover .news-media {
    display: block;
}

nav > ul > li:last-child:hover .about {
    display: block;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!*headlines slider styling*!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.slideshow,
.headlines-list > li,
.slides-list > li {
    height: 549px;
}

/*styling the slide color  postioning and background*/

.slides-list > li {
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    color: #FFF;
    font-weight: 100;
    padding-bottom: 2rem;
}

.slide h1 {
    font-size: 3.6rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.3em;
    padding-bottom: 0.4em;
}

.slide strong {
    font-weight: 500;
}

.slide h3 {
    font-size: 1.9rem;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0;
    padding-bottom: 0.6em;
}

/*styling uls on "superman" and "bulb" slides*/

.superman ul,
.bulb ul {
    font-size: 1.4rem;
    list-style: circle;
    padding-left: 1.3em;
    padding-bottom: 2em;
    line-height: 1.3em;
}

/*headlines bubbles styling*/

.headline {
    display: inline-block;
    text-align: left;
    padding: 0.7em 2em;
    color: #fff;
}

.headline h2 {
    font-size: 2.3rem;
    font-weight: 200;
}

.headline span {
    font-size: 1.5rem;
}

.headline span i {
    margin-right: 7px;
    font-size: 1.8rem;
}

.slider-nav {
    padding: 2em 0;
}

.slider-nav li {
    display: inline-block;
}

.slider-nav div {
    background: #E5E5E5;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    border-radius: 20%;
}

.headlines-list {
    display: inline-block;
    margin: 0;
}

.headlines-list li {
    display: inline-block;
    float: left;
    width: 30%;
    height: 18em;
    border-radius: 3%;
}

/*makes entier .headline buble clickable*/
.headlines-list li a {
    display: block;
    height: 100%
}

/*headlines bubbles hover state*/

.headlines-list li:nth-child(1) {
    background: rgba(250, 66, 158, 0.85);
}

.headlines-list li:nth-child(1):hover {
    background: rgb(250, 66, 158);
}

.headlines-list li:nth-child(2) {
    background: rgba(104, 192, 56, 0.85);
    margin: 0 3%;
}

.headlines-list li:nth-child(2):hover {
    background: rgb(104, 192, 56);
}

.headlines-list li:nth-child(3) {
    background: rgba(225, 116, 20, 0.85);
}

.headlines-list li:nth-child(3):hover {
    background: rgb(225, 116, 20);
}

.slideshow button {
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0.5em;
    text-align: left;
}

.slideshow button::after {
    content: "";
    display: inline-block;
    float: right;
    background: url("../resources/img/icons/btnArrow.png") no-repeat;
    width: 5em;
    margin-left: 2rem;
}

/*-----------------------*/
/*slideshow functionality*/
/*-----------------------*/

.slideshow-constants .wrapper {
    position: relative;
}

/*setting background for slides*/

.wheel {
    background: url("../resources/img/slider/custom-experience.jpg") no-repeat;
}

.smartphone {
    background: url("../resources/img/slider/digital-services.png") no-repeat;
}

.superman {
    background: url("../resources/img/slider/evolve-to-ip4g.jpg") no-repeat;

}

.bulb {
    background: url("../resources/img/slider/smartly-monetize.jpg") no-repeat;
}

/*making all slides apart from wheel "display: none" when not targeted*/

.slides-list > li {
    display: none;
}

/*positioning 3 headline bubbles and nav bullets relative to the wrapper */

.slideshow-constants ul {
    position: absolute;
}

.slider-nav {
    top: 24em;
}

.headlines-list {
    top: 35em;
}

/*making target divs invisable*/
.slides-list > li {
    display: none;
}

/*slider bullet functionality and hover state*/
/*making first bullet display blue on page load*/
.slider-nav li:first-child div {
    background: #2E95CA;
}

/*targeting the "active" bullet*/
#st1:target ~ main .slider-nav li:nth-child(1) div {
    background: #2E95CA;
}

/*making all the rest of the bullets "not targeted" when this one is*/

#st1:target ~ main .slider-nav li:not(:nth-child(1)) div {
    background: #E5E5E5;
}

/*hover effect for the "not targeted" bullets*/

#st1:target ~ main .slider-nav li:not(:nth-child(1)) div:hover {
    background: #2E95CA;
}

#st2:target ~ main .slider-nav li:nth-child(2) div {
    background: #2E95CA;
}

#st2:target ~ main .slider-nav li:not(:nth-child(2)) div {
    background: #E5E5E5;
}

#st2:target ~ main .slider-nav li:not(:nth-child(2)) div:hover {
    background: #2E95CA;
}

#st3:target ~ main .slider-nav li:nth-child(3) div {
    background: #2E95CA;
}

#st3:target ~ main .slider-nav li:not(:nth-child(3)) div {
    background: #E5E5E5;
}

#st3:target ~ main .slider-nav li:not(:nth-child(3)) div:hover {
    background: #2E95CA;
}

#st4:target ~ main .slider-nav li:nth-child(4) div {
    background: #2E95CA;
}

#st4:target ~ main .slider-nav li:not(:nth-child(4)) div {
    background: #E5E5E5;
}

#st4:target ~ main .slider-nav li:not(:nth-child(4)) div:hover {
    background: #2E95CA;
}

/*slider bullet hover state*/
.slider-nav {
    cursor: pointer;
}

.slider-nav div:hover {
    background: #2E95CA;
}

/*----------------------------*/
/*slides target functionality*/
/*----------------------------*/

/*making first slide display on page load*/
.slides-list > li:first-child {
    display: block;
}

/*targeting the "active" slide*/
#st1:target ~ main .slides-list > li:first-child {
    display: block;
}

/*making all the rest of the slides "not targeted" when this one is*/
#st1:target ~ main .slides-list > li:not(:first-child) {
    display: none;
}

#st2:target ~ main .slides-list > li:nth-child(2) {
    display: block;
}

#st2:target ~ main .slides-list > li:not(:nth-child(2)) {
    display: none;
}

#st3:target ~ main .slides-list > li:nth-child(3) {
    display: block;
}

#st3:target ~ main .slides-list > li:not(:nth-child(3)) {
    display: none;
}

#st4:target ~ main .slides-list > li:last-child {
    display: block;
}

#st4:target ~ main .slides-list > li:not(:last-child) {
    display: none;
}

/*------------------------------*/
/*end of slideshow functionality*/
/*------------------------------*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*solutions section styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.solutions {
    color: #FFF;
    background: url("../resources/img/backgrounds/solutions-bg.png"), #48A6CB;
    height: 420px;
}

.solutions h1 {
    text-align: center;
    font-size: 3.7rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.4em;
    padding-bottom: 0.4em;
}

.solutions ul {

    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.solutions li {
    /*float: left;*/
    display: inline-block;
    width: 14%;
    text-align: center;
    font-weight: 100;
    font-size: 1.2rem;
    vertical-align: top;
}

/*------------------------------*/
/*solutions icons hover state*!*/
/*------------------------------*/

.solutions li:first-child div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_biz-analitics.png") no-repeat;
}

.solutions li:first-child:hover div {
    background: url("../resources/img/solutions/solution_icon_biz-analitics_hover.png") no-repeat;
}

.solutions li:nth-child(2) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_diti-cx.png") no-repeat;
}

.solutions li:nth-child(2):hover div {
    background: url("../resources/img/solutions/solution_icon_diti-cx_hover.png") no-repeat;
}

.solutions li:nth-child(3) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_smart-money.png") no-repeat;
}

.solutions li:nth-child(3):hover div {
    background: url("../resources/img/solutions/solution_icon_smart-money_hover.png") no-repeat;
}

.solutions li:nth-child(4) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_optimize-efficnt.png") no-repeat;
}

.solutions li:nth-child(4):hover div {
    background: url("../resources/img/solutions/solution_icon_optimize-efficnt_hover.png") no-repeat;
}

.solutions li:nth-child(5) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_personal.png") no-repeat;
}

.solutions li:nth-child(5):hover div {
    background: url("../resources/img/solutions/solution_icon_personal_hover.png") no-repeat;
}

.solutions li:last-child div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_biz-transform.png") no-repeat;
}

.solutions li:last-child:hover div {
    background: url("../resources/img/solutions/solution_icon_biz-transform_hover.png") no-repeat;
}

/*-----------------------*/
/*solutions section button*/
/*--------------------------*/

.solutions button {
    width: 15em;
    display: block;
    margin: 1em auto 2em;
    text-align: center;
    font-size: 1.3rem;

}

/*end of solutions section styling*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Events section styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


.events {
    background: url("../resources/img/backgrounds/news-and-events-bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    color: #FFF;
    height: 454px;
}

.events h1 {
    text-align: center;
    font-size: 3.7rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.4em;
    padding-bottom: 0.4em;
}

.events-list {
    margin: 0;
    padding: auto;
    display: inline-block;
    text-align: center;
}

.events-list li {
    display: inline-block;
    text-align: left;
    width: 30%;
    height: 30em;
}

.events-list li:nth-child(2) {
    margin: 0 3%;
}

.events-list h3 {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: left;
    margin: 1em 0;
}

.news p {
    font-size: 1.5rem;
    color: black;
}

.news div {
    background: hsla(27, 13%, 85%, 0.7);
}

.news div:not(.date):hover {
    background: hsl(27, 13%, 85%);
    color: black;
}

.events .date {
    background: #39C;
    display: inline-block;
    float: left;
    width: 24%;
    height: 100%;
    color: #FFF;
    margin: 1em 1em;
}

.events .date span {
    display: block;
    text-align: center;
}

.events .date span:first-child {
    font-size: 4.5rem;
    border-bottom: 1px #fff dotted;
    text-align: center;
}

.events .date span:last-child {
    font-size: 1.6rem;
    text-align: center;
}

.news i {
    margin-right: 0.7rem;
}

.news > a > span,
.news i {
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 0.5rem;
}

.all-news:hover {
    color: black;
}

.all-events:hover {
    color: black;
}

.press:hover {
    color: black;
}



/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*success-stories  styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/



.success-stories {
    background: #ECECEC;
    color: #565656;
    height: 573px;
}

.success-stories h1 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.8em;
    padding-bottom: 1.32em;
}

.success-story {
    background: #fff;
    color: #616161;
    font-size: 1.6rem;
    line-height: 2.5rem;
    height: 207px;
    padding: 10px;
}

/*adding quote signs for front quote card*/

.quote > blockquote::before,
.quote > blockquote::after {
    content: "";
    display: inline-block;
    background: url("../resources/img/icons/quote-grey.png") no-repeat;
    height: 20px;
    width: 27px;
}

/*----------------------*/
/*positioning the boxes*/
/*----------------------*/
.stories-list > li,
.additional-partners li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/*setting 2 first story blocks width*/

.stories-list > li:nth-child(-n+2) {
    width: 332px;
}

/*setting last story block's width*/

.stories-list > li:last-child {
    width: 225px;
}

.stories-list {
    padding-bottom: 4em;
}

/*setting side padding to middle story block*/

/*setting the aside "addtional-partners" positioning and margin*/
.stories-list > li:first-child aside,
.stories-list > li:last-child aside {
    padding-top: 1em;
}

.stories-list > li:nth-child(2) aside {
    padding-bottom: 0.85em;
}

/*setting side padding for middle box on first and second story blocks*/
.stories-list > li:nth-child(-n+2) .additional-partners li:nth-child(2) {
    padding: 0 0.1em;
}

/*setting padding between 2 aside boxes on last story block*/

.stories-list > li:last-child .additional-partners li:first-child {
    padding-right: 0.3em;
}

/*reseting default margins for styling and postioning*/

.success-stories blockquote,
.success-stories h5,
.success-stories h4 {
    margin: 0;
}

/*--------------------------------------*/
/*positioning inside success story box */
/*-------------------------------------*/

/*top (".quote") part*/

.quote {
    height: 115px;
}

.success-story {
    text-align: left;
    position: relative;
}

.quote img {
    float: left;
    padding-right: 7px;
}

.quote blockquote {
    padding: 5px;
}

/*bottom (".reference" part*/

.reference {
    position: relative;
}

.reference h4 {
    color: #50B2E2;
}

.reference h4,
.reference h5 {
    padding-left: 10px;
}

.reference img {
    position: absolute;
    top: 3px;
    left: 68%;
}

/*setting z index for h5 in last story block .reference so it */
/*will not be hidden by img*/

.stories-list > li:last-child .reference h4 {
    position: relative;
    z-index: 100;

}

/*---------------------------------*/
/*hover state for success stories*/
/*--------------------------------*/

/*setting back "play" image*/

.brand {
    position: relative;
}

/*styling back quote card*/
.success-story .back {
    background: #32A5DC;
    height: 100%;
    width: 100%;
    color: white;
    /*setting z-index so the last quote back card will be on top of h5 which*/
    /*also has z-index*/
    z-index: 200;
}

.back blockquote {
    text-align: left;
    padding: 1em 3em;
}

/*adding quote signs for front quote card*/

.back > blockquote::before,
.back > blockquote::after {
    content: "";
    position: absolute;
    background: url("../resources/img/icons/quote-blue.png") no-repeat;
    height: 20px;
    width: 31px;
}

.back > blockquote::before {
    left: 3%;
}

.back > blockquote::after {
    right: 10%;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/*setting hover state for brand images and quote cards*/

.card:hover .back {
    display: block;
}



/*success stories button postioning*/

.success-stories button {
    display: block;
    margin: 0 auto;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Footer styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


footer {
    color: #E6E6E6;
    background: #2A2A29;
    height: 322px;
    position: relative;
}

footer .wrapper {
    overflow: auto;
}

.site-sections,
.site-sections > li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2.1rem;
}

.site-sections > ul {
    display: inline-block;
    width: 30%;
}

.site-sections h4 {
    font-size: 1.35rem;
    margin: 0;
    padding: 27px 0 10px 0;
    font-weight: 100;
}

/*----------------------*/
/*styling footer - aside*/
/*----------------------*/

footer aside {
    padding: 27px;
    position: relative;
    background: #3C3C3C;
    float: right;
    height: 322px;
    width: 30%;
    /*(why doesn't height: 100% work here?*/
}

footer aside h2 {
    color: #4C9EC6;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    margin: 0;
    padding-bottom: 18px;
}

footer .date {
    display: inline-block;
    line-height: 3.3rem;
    padding-right: 10px;
    float: left;
}

footer .date span {
    display: block;
    text-align: center;
}

footer .day {
    font-size: 4.4rem;
}

footer .month {
    font-size: 2.4rem;
    font-weight: 100;
}

footer hr {
    clear: left;
    margin: 28px 0;
}

footer p {
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 2.15rem;
    margin: 0;
}

/*styling the subscribe footer form*/

footer form {
    width: 100%;
    line-height: 2.3rem;
    font-size: 1.1rem;
}

footer form input {
    width: 70%;
    float: left;
    height: 28px;
}

footer form button {
    width: 30%;
    float: left;
    position: relative;
    right: 3px;
}

/*styling the placeholder on the input (will work only on Chrom*/

::-webkit-input-placeholder
/*:-moz-placeholder,*/
/*::-moz-placeholder,*/
/*:-ms-input-placeholder*/
{
    color: black;
    font-size: 1.3rem;
    padding-left: 6px;
    font-weight: 500;
}


/*positioning social media links on footer aside*/

.social-media {
    position: absolute;
    top: 90%;
}

.social-media li {
    float: left;
    position: relative;
}

.social-media li:nth-child(2) {
    margin: 0 9px;
}

/*setting social media hover state*/

.blue {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.social-media li:hover .blue {
    display: block;

}

/*styling copyright and policy section on footer*/

.policies {
    position: absolute;
    top: 90%;
    color: #737373;
    font-size: 1.2rem;
}

.policies span:first-child:after {
    content: "";
    display: inline-block;
    background: url('../resources/img/icons/search_line_devider.png') no-repeat;
    height: 20px;
    width: 1px;
    margin: 0 1em;
    position: relative;
    top: 4px;

}

/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*positioning assistance*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/

/*footer * {*/
/*border: 1px solid red;*/
/*}*/