/*!!!!!!!!!!!!!!!!!!!*/
/*!*general styling*!*/
/*!!!!!!!!!!!!!!!!!!!*/
html {
    font-family: "open sans" sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*aligning all the content to the center of the page*/
.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

/*-----------------------*/
/*general button styling*/
/*----------------------*/
/*full styling for firs gen button (slides section)*/
/*small adjustments for other buttons will be made per section */

.gen-button {
    display: inline-block;
    font-size: 1.35rem;
    background: #3096CA;
    color: #FFF;
    border: none;
    font-weight: 100;
    text-transform: uppercase;
    padding: 9px;
    width: 190px;
    height: 35px;
    text-align: left;
    border-radius: 8%;
    position: relative;
    box-shadow: 0 1px 3px rgba(97, 97, 97, 0.75);
}

.gen-button::after {
    content: "";
    display: inline-block;
    float: right;
    background: url("../resources/img/icons/btnArrow.png") no-repeat;
    width: 10px;
    height: 13px;
    position: absolute;
    left: 88%;
}

/*!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!*/
/*!*header styling*!*/
/*!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!*/

header {
    padding-top: 1.5em;
    height: 75px;
}

header .wrapper {
    height: 75px;
    position: relative;
    z-index: 100;
}

/*big bottom-padding to demonstate that paddings do not "spill"*/

nav > ul > li {
    /*padding-bottom: 1.5em;*/
    padding-bottom: 6em;
}

.comverse-logo {
    /*display: inline-block;*/
    /*vertical-align: bottom;*/
    float: left;
}

nav {
    display: inline-block;
    font-size: 1.25rem;
    /*vertical-align: bottom;*/
    margin: 0 5em 0 2em;
    /*top: 5px;*/
    float: left;
    padding-top: 40px;
}

.user-preferences {
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.30rem;
    float: right;
}

nav > ul > li {
    display: inline-block;
    vertical-align: bottom;
}

nav > ul > li:nth-child(-n+3):after,
.searchbox button:before,
.login:before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background: url('../resources/img/icons/search_line_devider.png') no-repeat;
    height: 20px;
    width: 1px;
    margin: 0 0.6em;
}

/*-------------------------*/
/*search and login styling*/
/*------------------------*/

/*search box styling*/

header form {
    position: relative;
    border: 1px solid #DADADA;
    margin-top: 1.5em;
    height: 1.75em;
    border-radius: 10%;
    overflow: hidden;
    -webkit-appearance: none;
    box-shadow: none;
    width: 12em;
}

.searchbox button,
.searchbox input,
.searchbox button:before {
    border: none;
    display: inline-block;
    vertical-align: center;
}

.searchbox input {
    width: 83%;
}

.searchbox button {
    background: white;
    float: right;
    padding: 0 3px 0 0;
}

.searchbox button:before {
    margin: 0 0.2em;
}

.searchbox input:focus,
.searchbox button:focus {
    outline: 0;
}

/*select language and login styling*/

.user-preferences select {
    /*-moz-appearance: none; !* Firefox *!*/
    /*-webkit-appearance: none; !* Safari and Chrome *!*/
    border: none;
    outline: none;
    background: none;
}

.login:hover {
    text-decoration: underline;
    color: blue;
}

/*-------------------*/
/*mega-menu styling*/
/*-------------------*/

/*absolutely postioning dorpdown menu relative to header wrapper*/

.mega-menu {
    display: none;
    position: absolute;
    background: #fff;
    right: 0;
    left: 0;
    top: 105%;
}

/*positioning and styling inside sub-menus*/

.mega-menu > ul {
    display: inline-block;
    vertical-align: top;
    padding: 2em 4em 2em 2em;
    font-size: 1.27rem;
    line-height: 1.5em;
}

nav figure {
    width: 330px;
    height: 215px;
    display: inline-block;
    background-size: cover;
    float: right;
    position: relative;
}

/*highlighting first link in each UL on protfolio sub-menu */

.protfolio ul > li > ul > li:first-child {
    text-decoration: underline;
    color: blue;
}

/*line divider :before menu figures*/

nav figure:before {
    content: "";
    position: absolute;
    right: 380px;
    display: inline-block;
    vertical-align: bottom;
    background: url('../resources/img/icons/line_divider_video.png') no-repeat;
    height: 185px;
    width: 1px;
}

/*setting the figures for each drop-down menu*/

.needs figure {
    background: url("../resources/img/mega-menu/Megamenu_Your_Needs_eBook.jpg") no-repeat;
}

.protfolio figure {
    background: url("../resources/img/mega-menu/megamenu_digital_lifestyle.jpg") no-repeat;
}

.news-media figure {
    background: url("../resources/img/mega-menu/Megamenu_News_and_media.jpg") no-repeat;
}

.about figure {
    background: url("../resources/img/mega-menu/Megamenu_About_Comverse_by_the_numbers.jpg") no-repeat;
}

/*mega-menu drop-down on hover*/

nav > ul > li:hover {
    color: #39c;
    background: #fff;
}

nav > ul > li:first-child:hover .needs {
    display: block;
    margin: 0 auto;
}

nav > ul > li:nth-child(2):hover .protfolio {
    display: block;
}

nav > ul > li:nth-child(3):hover .news-media {
    display: block;
}

nav > ul > li:last-child:hover .about {
    display: block;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!*headlines slider styling*!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.slideshow,
.headlines-list > li,
.slides-list > li {
    height: 549px;
}

.slideshow {
    clear: left;
}

/*styling the slide color  postioning and background*/

.slides-list > li {
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    color: #FFF;
    font-weight: 100;
    padding-bottom: 2rem;
}

.slide h1 {
    font-size: 3.6rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.3em;
    padding-bottom: 0.4em;
}

.slide strong {
    font-weight: 500;
}

.slide h3 {
    font-size: 1.9rem;
    font-weight: 100;
    line-height: 1.5em;
    margin: 0;
    padding-bottom: 0.6em;
}

/*styling uls on "superman" and "bulb" slides*/

.superman ul,
.bulb ul {
    font-size: 1.4rem;
    list-style: circle;
    padding-left: 1.3em;
    padding-bottom: 2em;
    line-height: 1.3em;
}

/*headlines bubbles styling*/

.headline {
    display: inline-block;
    text-align: left;
    padding: 0.7em 2em;
    color: #fff;
}

.headline h2 {
    font-size: 2.3rem;
    font-weight: 200;
}

.headline span {
    font-size: 1.5rem;
}

.headline span i {
    margin-right: 7px;
    font-size: 1.8rem;
}

.slider-nav {
    padding: 2em 0;
}

.slider-nav li {
    display: inline-block;
}

.slider-nav div {
    background: #E5E5E5;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0.2rem;
    border-radius: 20%;
}

.headlines-list {
    display: inline-block;
    margin: 0;
}

.headlines-list li {
    display: inline-block;
    float: left;
    width: 30%;
    height: 18em;
    border-radius: 3%;
}

/*makes entier .headline buble clickable*/
.headlines-list li a {
    display: block;
    height: 100%
}

/*headlines bubbles hover state*/

.headlines-list li:nth-child(1) {
    background: rgba(250, 66, 158, 0.85);
}

.headlines-list li:nth-child(1):hover {
    background: rgb(250, 66, 158);
}

.headlines-list li:nth-child(2) {
    background: rgba(104, 192, 56, 0.85);
    margin: 0 3%;
}

.headlines-list li:nth-child(2):hover {
    background: rgb(104, 192, 56);
}

.headlines-list li:nth-child(3) {
    background: rgba(225, 116, 20, 0.85);
}

.headlines-list li:nth-child(3):hover {
    background: rgb(225, 116, 20);
}

/*-----------------------*/
/*slideshow functionality*/
/*-----------------------*/

.slideshow-constants .wrapper {
    position: relative;
}

/*setting background for slides*/

.wheel {
    background: url("../resources/img/slider/custom-experience.jpg") no-repeat;
}

.smartphone {
    background: url("../resources/img/slider/digital-services.png") no-repeat;
}

.superman {
    background: url("../resources/img/slider/evolve-to-ip4g.jpg") no-repeat;

}

.bulb {
    background: url("../resources/img/slider/smartly-monetize.jpg") no-repeat;
}

/*making all slides apart from wheel "display: none" when not targeted*/

.slides-list > li {
    display: none;
}

/*positioning 3 headline bubbles and nav bullets relative to the wrapper */

.slideshow-constants ul {
    position: absolute;
}

.slider-nav {
    top: 24em;
}

.headlines-list {
    top: 35em;
}

/*making target divs invisable*/
.slides-list > li {
    display: none;
}

/*slider bullet functionality and hover state*/
/*making first bullet display blue on page load*/
.slider-nav li:first-child div {
    background: #2E95CA;
}

/*targeting the "active" bullet*/
#st1:target ~ main .slider-nav li:nth-child(1) div {
    background: #2E95CA;
}

/*making all the rest of the bullets "not targeted" when this one is*/

#st1:target ~ main .slider-nav li:not(:nth-child(1)) div {
    background: #E5E5E5;
}

/*hover effect for the "not targeted" bullets*/

#st1:target ~ main .slider-nav li:not(:nth-child(1)) div:hover {
    background: #2E95CA;
}

#st2:target ~ main .slider-nav li:nth-child(2) div {
    background: #2E95CA;
}

#st2:target ~ main .slider-nav li:not(:nth-child(2)) div {
    background: #E5E5E5;
}

#st2:target ~ main .slider-nav li:not(:nth-child(2)) div:hover {
    background: #2E95CA;
}

#st3:target ~ main .slider-nav li:nth-child(3) div {
    background: #2E95CA;
}

#st3:target ~ main .slider-nav li:not(:nth-child(3)) div {
    background: #E5E5E5;
}

#st3:target ~ main .slider-nav li:not(:nth-child(3)) div:hover {
    background: #2E95CA;
}

#st4:target ~ main .slider-nav li:nth-child(4) div {
    background: #2E95CA;
}

#st4:target ~ main .slider-nav li:not(:nth-child(4)) div {
    background: #E5E5E5;
}

#st4:target ~ main .slider-nav li:not(:nth-child(4)) div:hover {
    background: #2E95CA;
}

/*slider bullet hover state*/
.slider-nav {
    cursor: pointer;
}

.slider-nav div:hover {
    background: #2E95CA;
}

/*----------------------------*/
/*slides target functionality*/
/*----------------------------*/

/*making first slide display on page load*/
.slides-list > li:first-child {
    display: block;
}

/*targeting the "active" slide*/
#st1:target ~ main .slides-list > li:first-child {
    display: block;
}

/*making all the rest of the slides "not targeted" when this one is*/
#st1:target ~ main .slides-list > li:not(:first-child) {
    display: none;
}

#st2:target ~ main .slides-list > li:nth-child(2) {
    display: block;
}

#st2:target ~ main .slides-list > li:not(:nth-child(2)) {
    display: none;
}

#st3:target ~ main .slides-list > li:nth-child(3) {
    display: block;
}

#st3:target ~ main .slides-list > li:not(:nth-child(3)) {
    display: none;
}

#st4:target ~ main .slides-list > li:last-child {
    display: block;
}

#st4:target ~ main .slides-list > li:not(:last-child) {
    display: none;
}

/*------------------------------*/
/*end of slideshow functionality*/
/*------------------------------*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*solutions section styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.solutions {
    color: #FFF;
    background: url("../resources/img/backgrounds/solutions-bg.png"), #48A6CB;
    height: 420px;
}

/*heading's padding sets the spacing between what comes before and after*/

.solutions h1 {
    text-align: center;
    font-size: 3.80rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.51em;
    padding-bottom: 1.82em;
}

.solutions h3 {
    font-weight: 100;
    text-align: center;
    font-size: 1.4rem;
    vertical-align: top;
    line-height: 2rem;

}

.solutions ul {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding-bottom: 2.1em;
}

.solutions li {
    display: inline-block;
    width: 14%;
    vertical-align: top;
}

/*-------------------------------------*/
/*solutions section button adjustments*/
/*-------------------------------------*/

.solutions button {
    width: 220px;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
}

/*------------------------------*/
/*solutions icons hover state*!*/
/*------------------------------*/

.solutions li:first-child div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_biz-analitics.png") no-repeat;
}

.solutions li:first-child:hover div {
    background: url("../resources/img/solutions/solution_icon_biz-analitics_hover.png") no-repeat;
}

.solutions li:nth-child(2) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_diti-cx.png") no-repeat;
}

.solutions li:nth-child(2):hover div {
    background: url("../resources/img/solutions/solution_icon_diti-cx_hover.png") no-repeat;
}

.solutions li:nth-child(3) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_smart-money.png") no-repeat;
}

.solutions li:nth-child(3):hover div {
    background: url("../resources/img/solutions/solution_icon_smart-money_hover.png") no-repeat;
}

.solutions li:nth-child(4) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_optimize-efficnt.png") no-repeat;
}

.solutions li:nth-child(4):hover div {
    background: url("../resources/img/solutions/solution_icon_optimize-efficnt_hover.png") no-repeat;
}

.solutions li:nth-child(5) div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_personal.png") no-repeat;
}

.solutions li:nth-child(5):hover div {
    background: url("../resources/img/solutions/solution_icon_personal_hover.png") no-repeat;
}

.solutions li:last-child div {
    height: 63px;
    background: url("../resources/img/solutions/solution_icon_biz-transform.png") no-repeat;
}

.solutions li:last-child:hover div {
    background: url("../resources/img/solutions/solution_icon_biz-transform_hover.png") no-repeat;
}

/*end of solutions section styling*/

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Events section styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.events {
    background: url("../resources/img/backgrounds/news-and-events-bg.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 0;
    background-attachment: fixed;
    color: #FFF;
    height: 454px;
}

.events h1 {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.4em;
    padding-bottom: 1.8em;
}

.events-list {
    margin: 0;
    padding: auto;
    display: inline-block;
    text-align: center;
}

.events-list li {
    display: inline-block;
    text-align: left;
    width: 30%;
    height: 30em;
}

.events-list li:nth-child(2) {
    margin: 0 3%;
}

.events-list h3 {
    font-size: 3.2rem;
    font-weight: 100;
    text-align: left;
    margin: 0;
    padding-bottom: 0.45em;
}

.news p {
    font-size: 1.5rem;
    color: black;
    line-height: 1.95rem;
}

.event-box {
    background: hsla(27, 13%, 85%, 0.7);
    height: 12em;
}

.news div:not(.date):hover {
    background: hsl(27, 13%, 85%);
    color: black;
}

.events .date {
    background: #39C;
    display: inline-block;
    float: left;
    width: 24%;
    height: 82%;
    color: #FFF;
    margin: 1em 1em;
    box-shadow: grey -2px 2px 2px;
}

.events .day {
    padding-bottom: 10px;
}

.events .month {
    padding-top: 10px;
}

.events .date span {
    display: block;
    text-align: center;
}

.events .date span:first-child {
    font-size: 4.5rem;
    border-bottom: 1px #fff dotted;
    text-align: center;
}

.events .date span:last-child {
    font-size: 1.6rem;
    text-align: center;
}

.news i {
    padding-left: 0.2em;
    padding-right: 0.4em;
    padding-top: 0.5em;
    font-size: 2.1rem;

}

.news > a > span {
    font-size: 1.4rem;
    font-weight: 100;
}

.all-news:hover {
    color: black;
}

.all-events:hover {
    color: black;
}

.press:hover {
    color: black;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*success-stories  styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

.success-stories {
    background: #ECECEC;
    color: #565656;
    height: 573px;
}

.success-stories h1 {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 100;
    margin: 0;
    padding-top: 1.8em;
    padding-bottom: 1.32em;
}

.success-story {
    background: #fff;
    color: #616161;
    font-size: 1.6rem;
    line-height: 2.5rem;
    height: 207px;
    padding: 10px;
}

/*adding quote signs for front quote card*/

.quote > blockquote::before,
.quote > blockquote::after {
    content: "";
    display: inline-block;
    background: url("../resources/img/icons/quote-grey.png") no-repeat;
    height: 20px;
    width: 27px;
}

/*----------------------*/
/*positioning the boxes*/
/*----------------------*/
.stories-list > li,
.additional-partners li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

/*setting 2 first story blocks width*/

.stories-list > li:nth-child(-n+2) {
    width: 36%;
}

/*setting last story block's width*/

.stories-list > li:last-child {
    width: 23.5%;
}

.stories-list {
    padding-bottom: 4em;
}

/*setting side margin to middle story block*/

.stories-list > li:nth-child(2) {
    margin: 0 1.9%;
}

/*setting the aside "addtional-partners" positioning and margin*/
.stories-list > li:first-child aside,
.stories-list > li:last-child aside {
    padding-top: 1em;
}

.stories-list > li:nth-child(2) aside {
    padding-bottom: 0.85em;
}

/*setting side padding for middle box on first and second story blocks*/
.stories-list > li:nth-child(-n+2) .additional-partners li:nth-child(2) {
    padding: 0 2.3%;
}

/*setting padding between 2 aside boxes on last story block*/

.stories-list > li:last-child .additional-partners li:first-child {
    padding-right: 2.5%;
}

/*reseting default margins for styling and postioning*/

.success-stories blockquote,
.success-stories h5,
.success-stories h4 {
    margin: 0;
}

/*--------------------------------------*/
/*positioning inside success story box */
/*-------------------------------------*/

/*top (".quote") part*/

.quote {
    height: 115px;
}

.success-story {
    text-align: left;
}

.quote img {
    float: left;
    padding-right: 7px;
}

.quote blockquote {
    padding: 5px;
}

/*bottom (".reference" part*/

.reference {
    position: relative;
}

.reference h4 {
    color: #50B2E2;
    font-weight: 100;
}

.reference h4,
.reference h5 {
    padding-left: 10px;
}

.reference img {
    position: absolute;
    top: 3px;
    left: 68%;
}

/*positioning "multi-links" log on last success story*/
/*so it wouldn't hide the heading'*/
.stories-list li:last-child .reference img {
    top: 20px;
}

/*solve issue where multi-links logo is hiding h4*/
/*by giving h4 a z index*/

.stories-list > li:last-child .reference h4 {
    position: relative;
    z-index: 300;

}

/*---------------------------------*/
/*hover state for success stories*/
/*--------------------------------*/

/*the container of .front and .back quote cards*/
.card {
    height: 207px;
    position: relative;
    overflow: hidden;
}

/*setting back "play" image*/

.brand {
    height: 95px;
    position: relative;
    overflow: hidden;
}

/*styling back quote card*/
.card .back {
    background: #32A5DC;
    height: 100%;
    width: 100%;
    color: white;
}

.back blockquote {
    text-align: left;
    padding: 1em 3em;
}

/*adding quote signs for front quote card*/

.back > blockquote::before,
.back > blockquote::after {
    content: "";
    position: absolute;
    background: url("../resources/img/icons/quote-blue.png") no-repeat;
    height: 20px;
    width: 31px;
}

.back > blockquote::before {
    left: 3%;
}

.back > blockquote::after {
    right: 10%;
}

.back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    z-index: 400;
}

/*setting hover state for brand images and quote cards*/

.card:hover .back,
.brand:hover .back {
    transform: translateY(0%);
}

.back {
    transition: all 500ms;
}

/*success stories button adjustments*/

.success-stories button {
    display: block;
    margin: 0 auto;
    font-size: 1.15rem;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*Footer styling*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

footer {
    color: #E6E6E6;
    background: #2A2A29;
    height: 322px;
    position: relative;
}

footer .wrapper {
    overflow: auto;
}

.site-sections,
.site-sections > li {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 2.1rem;
}

.site-sections a:hover {
    text-decoration: underline;
}

.site-sections > ul {
    display: inline-block;
    width: 70%;
}

.site-sections > li:nth-child(2) {
    margin: 0 60px;
}

.site-sections h4 {
    font-size: 1.35rem;
    margin: 0;
    padding: 27px 0 10px 0;
    font-weight: 100;
}

.site-sections ul {
    cursor: pointer;
}

/*----------------------*/
/*styling footer - aside*/
/*----------------------*/

footer aside {
    padding: 27px;
    position: relative;
    background: #3C3C3C;
    float: right;
    height: 322px;
    width: 30%;
    /*(why doesn't height: 100% work here?*/
}

footer aside h2 {
    color: #4C9EC6;
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;
    margin: 0;
    padding-bottom: 18px;
}

footer .date {
    display: inline-block;
    line-height: 3.3rem;
    padding-right: 10px;
    float: left;
}

footer .date span {
    display: block;
    text-align: center;
}

footer .day {
    font-size: 4.4rem;
}

footer .month {
    font-size: 2.4rem;
    font-weight: 100;
}

footer hr {
    clear: left;
    margin: 28px 0;
}

footer p {
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 2.15rem;
    margin: 0;
}

/*styling the subscribe footer form*/

footer form {
    width: 100%;
    line-height: 2.3rem;
    font-size: 1.1rem;
}

footer form input {
    width: 70%;
    float: left;
    height: 28px;
}

/*footer form button adjustmen*/

.subscribe button {
    width: 30%;
    height: 28px;
    float: left;
    position: relative;
    right: 3px;
    background: #3096CA;
    color: #FFF;
    border: none;
    font-size: 1.3rem;
    padding: 2px;
    text-align: center;
}

.subscribe button:after {
    display: none;
}

/*styling the placeholder on the input (will work only on Chrom*/

::-webkit-input-placeholder
    /*:-moz-placeholder,*/
    /*::-moz-placeholder,*/
    /*:-ms-input-placeholder*/
{
    color: black;
    font-size: 1.3rem;
    padding-left: 6px;
    font-weight: 500;
}

/*positioning social media links on footer aside*/

.social-media {
    position: absolute;
    top: 90%;
}

.social-media li {
    float: left;
    position: relative;
}

.social-media li:nth-child(2) {
    margin: 0 9px;
}

/*setting social media hover state*/

.blue {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.social-media li:hover .blue {
    display: block;

}

/*styling copyright and policy section on footer*/

.policies {
    position: absolute;
    top: 90%;
    color: #737373;
    font-size: 1.2rem;
}

.policies span:first-child:after {
    content: "";
    display: inline-block;
    background: url('../resources/img/icons/search_line_devider.png') no-repeat;
    height: 20px;
    width: 1px;
    margin: 0 1em;
    position: relative;
    top: 4px;
}

/*==============*/
/*==============*/
/*responsive*/
/*==============*/
/*==============*/

@media (max-width: 960px) and (min-width: 768px) {

    /*-------------success stories----------------*/
    /*setting 2 first story blocks width*/
    .stories-list > li:nth-child(-n+2) {
        width: 34%;
    }

    /*setting side margin to middle story block*/
    .stories-list > li {
        float: left;
    }

    .stories-list > li:nth-child(2) {
        margin: 0;
    }

    /*getting rid of barnd boxs margins*/
    .additional-partners li {
        float: left;
    }

    /*setting side padding for middle box on first and second story blocks*/
    .stories-list > li:nth-child(-n+2) .additional-partners li:nth-child(2) {
        padding: 0;
    }

    /*setting padding between 2 aside boxes on last story block*/
    .stories-list > li:last-child .additional-partners li:first-child {
        padding-right: 0;
    }
    
}

/*!!!!!!!!!!!!!!!!!!!!!!!!*/
/*positioning assistance*/
/*!!!!!!!!!!!!!!!!!!!!!!!!*/

/*footer * {*/
/*border: 1px solid red;*/
/*}*/